## Simple Linear Regression

## Importing the Data

In [1]:
import pandas
df = pandas.read_excel('house_price.xlsx')
df[:10]

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282
2,995,229900,3,2,single-family home,13504,1988,1456,76,947
3,996,359000,5,4,single-family home,10130,1997,2903,79,951
4,999,394000,3,2,single-family home,18295,2001,2616,73,709
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328
7,1003,134900,2,2,townhouse,2300,1994,920,56,328
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137

## Preparing the Data

In [2]:
X = df['area']
print (X[:10])
X_reshape = X.values.reshape(-1,1)
print (X_reshape[:10])
y = df['price']

0    1541
1    1810
2    1456
3    2903
4    2616
5    3850
6    1000
7     920
8    2705
9    1440
Name: area, dtype: int64
[[1541]
 [1810]
 [1456]
 [2903]
 [2616]
 [3850]
 [1000]
 [ 920]
 [2705]
 [1440]]

In [3]:
import sklearn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_reshape, y, test_size = 0.3)

print('number of training data:', len(X_train), len(y_train))
print('number of testing data:', len(X_test), len(y_test))

ModuleNotFoundError: No module named 'sklearn'

## Training the model

In [4]:
from sklearn import linear_model
slr = linear_model.LinearRegression() #create an linear regression model objective 

slr.fit(X_train,y_train) # estimate the patameters
print('beta',slr.coef_)
print('alpha',slr.intercept_)

ModuleNotFoundError: No module named 'sklearn'

## Evaluating the model

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

y_predict = slr.predict(X_test) # predict the Y based on the model
mean_squared_error = mean_squared_error(y_test,y_predict) # calculate mean square error
r2_score = r2_score(y_test,y_predict) #calculate r square

print ('mean square error:',mean_squared_error )
print ('r square:',r2_score )

## Visualizing the model

In [5]:
import matplotlib.pyplot as plt
%matplotlib inline

plt.scatter(X_test, y_test,  color='black') # create a scatterplot to visualize the test data
plt.plot(X_test, y_predict, color='blue', linewidth=3) # add a line chart to visualize the model

plt.xlabel('area')
plt.ylabel('price')

plt.show()

NameError: name 'X_test' is not defined